<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <section class="about">
      <h1>About Us</h1>
      <p>
        We build clean, fast, and modern web experiences. Focused on
        performance, design, and real-world impact.
      </p>

      <div class="about-cards">
        <div class="card">
          <h3>Mission</h3>
          <p>Ship quality code that actually scales.</p>
        </div>

        <div class="card">
          <h3>Vision</h3>
          <p>Learn. Build. Break. Repeat.</p>
        </div>

        <div class="card">
          <h3>Tech</h3>
          <p>HTML, CSS, JS, Node, React & beyond.</p>
        </div>

        <div class="card">
          <h3>Invension</h3>
          <p>React & beyond.</p>
        </div>
      </div>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>
