<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="sub1-container">
        <h1>NAVBAR</h1>
        <p>About</p>
        <p>Testemonials</p>
        <p>Menu</p>
      </div>

      <div class="sub2-container">
        <h1>HOME</h1>
        <p>FEATUREs</p>
      </div>
    </div>
  </body>
</html>
