<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>Signup</h1>
        <form action="/signup">
            <input type="name" name="name" value="1">
            <input type="password" name="password" value="1">
            <input type="email" name="email" value="1">
            <select>
                Age
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
            </select>
        </form>
    </body>
</html>